.nf_container{
    width: 100%;
    min-height: calc(100vh - 60px);
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #FFFFFF;
}


.nf_container div{
    margin: 0 auto;
    height: 90vh;
    width: 80%;
    background: url('../../images/not-found.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}